footer {
  background-color: var(--clr-footer);
  padding: 3.5rem;
  display: grid;
  gap: 2rem;
  place-content: center;
}

footer > .h2 {
  font-family: var(--ff-body);
  font-weight: bolder;
  text-align: center;
  color: var(--clr-footer-text);
}

footer > ul {
  max-width: 700px;
  padding: 0;
  justify-content: space-between;
}

footer > ul > li {
  font-size: 1.1rem;
  color: var(--clr-footer-text);
}

.footer_social {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
}